<div class="panel panel-default">
  <div class="panel-heading">
   フォロー一覧
  </div>
 
  <div class="panel-body">
    <% @followings.each do |user| %>
      <span class="label label-info"><%= user.name %></span>
    <% end %>
  </div>
</div>
