<div class="panel panel-default">
  <div class="panel-heading">
   フォロー一覧
  </div>
</div>
  <ol class="microposts">
    <% @followings.each do |user| %>
      <li>
      <span class="label label-info">
       <%= user.name %>
       <%= gravatar_for user %>
       </span>
      <br>
      <span class="label label-info">年齢<%= user.age %></span>
      </li>
      <div class="clearfix"></div>
    <% end %>
  </ol>

